
# Local .terraform directories
/deployment/terraform/.terraform/
/deployment/terraform/*.tfstate
/deployment/terraform/*.tfvars
/deployment/terraform/*.hcl
/deployment/terraform/*.tfvars.json

/deployment/ansible/inventory/*
/deployment/ansible/EC2-django.pem

.idea/
.DS_Store
.env
.pem
.tfstate
.env
