[Unit]
Description=GitHub Runner Service
After=network.target

[Service]
WorkingDirectory={{ install_github_runner_actions_runner_dir }}
ExecStart={{ install_github_runner_actions_runner_dir }}/actions-runner/runsvc.sh
Restart=always
RestartSec=3
User={{ install_github_runner_runner_user }}
Group={{ install_github_runner_runner_user }}
KillMode=process

[Install]
WantedBy=default.target
